ion-content {
    --overflow: hidden;
}

.matherm-screen-message {
    h1 {
        margin: 0px;
        font-size: 60px;
        font-weight: lighter;
        opacity: 0.7;
        color: #2f2e41;
    }
}

.matherm-state-info {
    h1 {
        margin: 0px;
        font-size: 40px;
        font-weight: 200;
        opacity: 0.7;
        &.red {
            color: #FF4067;
        }
        &.green {
            color: #00BFA6;
        }
        &.blue {
            color: #00B0FF;
        }
        &.yellow {
            color: #F9A826;
        }
    }
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    transition: all 0.2s;
    &:active {
        opacity: 0.5;
        .switch-button {
            ion-icon {
                font-size: 77px;
            }
        }
    }
    .switch-button {
        border: 0.5px solid #2f2e413c;
        &.heating-on {
            border: 0.5px solid #ff406662;
        }
        border-radius: 100px;
        width: 110px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        ion-icon {
            transition: all 0.2s;
            font-size: 80px;
            color: #2f2e41;
            &.heating-on {
                color: #FF4067;
            }
        }
    }
}

.resistance-state {
    opacity: 0.7;
    color: #2f2e41;
    font-weight: 200;
}

.image-state {
    height: 210px;
    img {
        height: 200px;
    }
}

.no-matherm-state-legend {
    font-weight: 100;
    opacity: 0.7;
}

.no-matherm-state-img-container {
    margin-top: 30%;
    .no-matherm-state-img {
        height: 250px;
    }
}

@media screen and (max-height: 580px) {
    .matherm-screen-message {
        margin-top: 30px;
    }
    .resistance-state {
        margin-bottom: 20px;
    }
    .image-state {
        height: 160px;
        img {
            height: 150px;
        }
    }
}
@media screen and (min-height: 581px) and (max-height: 700px) {
    .matherm-screen-message {
        margin-top: 40px;
    }
    .resistance-state {
        margin-bottom: 25px;
    }
    .image-state {
        height: 200px;
        img {
            height: 190px;
        }
    }
}
@media screen and (min-height: 701px) and (max-height: 850px) {
    .matherm-screen-message {
        margin-top: 90px;
    }
    .resistance-state {
        margin-bottom: 30px;
    }
    .image-state {
        height: 260px;
        img {
            height: 250px;
        }
    }
}
@media screen and (min-height: 851px){
    .matherm-screen-message {
        margin-top: 110px;
    }
    .resistance-state {
        margin-bottom: 35px;
    }
    .image-state {
        height: 290px;
        img {
            height: 280px;
        }
    }
}

